.bg-body{
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #3f2962, #3f2962, #3f2962, #3f2962, #3f2962);
    padding: 8px;
}
// .headerr{
//     width: 100%;
//     height: 40%;
//     background-image: linear-gradient(#4ECDC4, #556270);
//     border-radius: 15px 50px;
//     text-align: center;
//     padding-top: 10px;
// }

// .head-content{
//     color: white;
//     left: 50%;
// }

.content-as{
    background-image: radial-gradient(circle, #3f2962, #4b346e, #583f7b, #644b88, #715795);
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-color{
    background-color: #B0A8B9;
}

a{
    color: white;
    text-decoration: none;
}


