<div class="bg-body">
  <div class="headerr">
    <div class="head-content">
      <h2>Fadel Cahyo M</h2>
      <p>Mobile Programming Assignment</p>
    </div>
  </div>
  <div class="content-as">

      <ion-card class="card-color">
        <ion-card-header>
          <a href="Assignment1">
          <h3>Assignment 1</h3>
        </a>
        </ion-card-header>
      </ion-card>

      <ion-card class="card-color">
        <ion-card-header>
          <a href="Assignment2">
          <h3>Assignment 2</h3>
        </a>
        </ion-card-header>
      </ion-card>
      
      <ion-card class="card-color">
        <ion-card-header>
          <a href="Assignment3">
          <h3>Assignment 3</h3>
        </a>
        </ion-card-header>
      </ion-card>

      <ion-card class="card-color">
        <ion-card-header>
          <a href="Assignment4">
          <h3>Assignment 4</h3>
        </a>
        </ion-card-header>
      </ion-card>

      <ion-card class="card-color">
        <ion-card-header>
          <a href="Assignment5">
          <h3>Assignment 5</h3>
        </a>
        </ion-card-header>
      </ion-card>
  </div>
</div>
